<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Glasgow data collection website Information</title>
    <h1 >Welcome to the Glasgow Data Collection website!</h1>
    <link rel="stylesheet" href="724css.css" /><!-- Reference css -->
</head>
<body>
<style>
    body{
        background-color: #ADD8E6;
    }
    </style>
<ol type="1">
    <li>Improve academic level</li><!-- Set the subheading and content of the segment -->
    <p>The collection of data can help GIC to obtain more samples of students' learning conditions,
        and to find targeted weaknesses for improvement, thus contributing to the improvement of academic level.<p>
    <li>Improve the overall student experience</li>
    <p>Data can also be collected by understanding students' learning experiences,
    so that we can adjust the curriculum and improve teaching methods to better meet their needs.<p>
    <li>Assessment of Teaching Methods</li>
    <p>DAssessment of Teaching MethodsData on student performance can be used to evaluate the effectiveness of different teaching methods and instructional approaches.
Educators can adjust their strategies based on feedback, ensuring that they employ methods that resonate well with the student population.<p>
</ol>
<a href="{{ url_for('Data_Collection_Page') }}">If you want to start press here.</a><!-- Set the link to jump to the next website -->
</body>
</html>